@import "tailwindcss";

:root {
  /* Color Variables */
  --background: #e7e5d9; /* The signature bone/beige */
  --foreground: #2b3d25; /* Dark Olive/Black text */
  --primary: #2b3d25; /* Dark green for buttons/headings */
  --ui-accent: #d0cec6; /* The pill button background */

  /* Font Variables */
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* LENIS CSS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}